<div class="main-info mb-5">
  <div class="main-img">
    <div class="container main-img-inner">
      <h1 class="mb-md-4 main-title">Прием металлолома в Санкт&#8209;Петербурге</h1>
      <span class="mb-md-4 mb-3 main-subtitle">Лом черных и цветных металлов</span>
      <button class="btn main-info-btn btn-general">Заказать вывоз</button>
    </div>
  </div>
</div>

<div class="contact-wrap">
  <div
    class="contact-info gap-3 container mb-5 row
    justify-content-lg-between justify-content-md-center justify-content-center">
    <div class="col-12 col-md-6 col-lg-4 mt-0  row justify-content-center">
      <div class="card card-body contact-card recall">
        <h5 class="contact-title mb-3">Обратный звонок</h5>
        <p class="card-text mb-1">Оставьте заявку, мы перезвоним Вам в течении 5 минут!</p>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mt-0 row justify-content-center">
      <div class="card card-body contact-card address">
        <h5 class="contact-title mb-3">Адрес</h5>
        <p class="mb-1">Шоссе Энтузиастов, 19кБ1</p>
        <p class="mb-1">Вход и бесплатная парковка со стороны двора.</p>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mt-0 row justify-content-center">
      <div class="card card-body contact-card schedule">
        <h5 class="contact-title mb-3">Время работы</h5>
        <p class="mb-1">Пн-Пт - 8:00-22:00</p>
        <p class="mb-1">Сб-Вс - 9:00-21:00</p>
      </div>
    </div>
  </div>
</div>
