.service-wrap
  background: #f2f2f2
  display: flex
  flex-direction: column
  justify-content: center

.service-info
  text-align: center

.service-title
  font-weight: 800
  font-size: 42px

.service-subtitle
  font-size: 24px

.service-item
  max-width: 370px
  padding: 0 !important

.services-img
  display: block
  height: 55% !important

.service-card-title
  font-size: 22px
  font-weight: 800

@media screen and (max-width: 500px)
  .service-wrap
    margin-left: -16px
    margin-right: -16px

  .service-title
    font-size: 35px

  .service-subtitle
    font-size: 22px
