<div class="py-5 service-wrap">
  <div class="service-info container">
    <div class="px-1">
      <h3 class="service-title mb-4">Услуги компании</h3>
      <p class="service-subtitle mb-4">Компания «Scrapline» оказывает полный комплекс услуг по работе с черными и
        цветными металлами в
        Санкт-Петербурге.
        Подберите интересующую вас услугу и ознакомьтесь с условиями, либо позвоните нам, и мы вас проконсультируем!</p>
    </div>
  </div>

  <div class="container row justify-content-lg-between justify-content-md-center justify-content-center gap-3">
    <div class="col-12 col-md-6 col-lg-4 row justify-content-center">
      <div class="card service-item">
        <img class="card-img-top services-img" src="assets/images/black-3.jpeg" alt="Черный металл">
        <div class="card-body p-4">
          <h5 class="service-card-title">Черный металлолом</h5>
          <p class="card-text">Услуга приема лома черных металлов. Предлагаем выгодные условия и привлекательные
            цены!</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 row justify-content-center">
      <div class="card service-item">
        <img class="card-img-top services-img" src="assets/images/nonferrous-3.png" alt="Цветной металл">
        <div class="card-body p-4">
          <h5 class="service-card-title">Лом цветных металлов</h5>
          <p class="card-text">Услуга по приему лома цветных металлов. Выгодные условия и высокие расценки!</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 row justify-content-center">
      <div class="card service-item">
        <img class="card-img-top services-img" src="assets/images/export-3.png" alt="Вывоз металла">
        <div class="card-body p-4">
          <h5 class="service-card-title">Вывоз металлолома</h5>
          <p class="card-text">Услуга приема металлолома с вывозом с вашей территории.</p>
        </div>
      </div>
    </div>
  </div>
</div>
