.toolbar-link
  color: #000

.toolbar-link:hover
  color: #288cf4

.logo-wrap
  display: flex
  align-items: center

.logo
  display: block
  max-width: 108px

.ic-wa
  max-width: 30px

.contacts
  display: flex
  justify-content: flex-end
  align-items: center

.button
  background: #288cf4
  color: #fff
