<nav class="navbar navbar-expand-lg">
  <div class="container toolbar">
    <a class="navbar-brand" routerLink="/">
      <a class="navbar-brand logo-wrap" routerLink="/">
        <img class="logo" src="assets/images/logo.jpg" alt="Scrapline">
      </a>
    </a>

    <div class="navbar-expand ms-6">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ms-4" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/" class="nav-link toolbar-link">Главная</a>
        </li>
        <li class="nav-item ms-4" routerLinkActive="active">
          <a routerLink="/price" class="nav-link toolbar-link">Цены</a>
        </li>
        <li class="nav-item ms-4" routerLinkActive="active">
          <a routerLink="/about" class="nav-link toolbar-link">О нас</a>
        </li>
        <li class="nav-item ms-4" routerLinkActive="active">
          <a routerLink="/contacts" class="nav-link toolbar-link">Контакты</a>
        </li>
      </ul>
    </div>

    <div class="contacts">
      <span class="ms-3">+7 (921) 302-32-22</span>
      <a class="ms-3" href="https://wa.me/79213023222">
        <img class="ic-wa" src="assets/icons/whatsapp.png" alt="WhatsApp">
      </a>
      <button type="button" class="btn button ms-4 btn-general">Обратный звонок</button>
    </div>
  </div>
</nav>
