<div class="export-wrap">
  <div class="container py-5">
    <div class="row justify-content-lg-between justify-content-sm-center align-items-center">
      <div class="export-info col-md-12 col-lg-8 mb-3 mb-l">
        <h5 class="export-title">Требуется вывезти металл, но не можете сделать это своими силами?</h5>
        <p class="export-subtitle mb-0">Решение есть! Закажите вывоз металлолома у нас!</p>
      </div>
      <div class="col-12 col-lg-4">
        <div class="btn-wrap">
          <button class="btn btn-general btn-export">Заказать вывоз</button>
        </div>
      </div>
    </div>
  </div>
</div>
