<div class="price py-5">
  <div class="container">
    <table class="table table-striped table-hover mb-0">
      <thead>
      <tr class="table-head main-head">
        <td class="col-8">Наименование</td>
        <td class="col-4">Цена</td>
      </tr>
      </thead>
    </table>

    <table class="table table-striped table-hover mb-0">
      <thead>
      <tr class="table-head">
        <td class="col-8">Черный металл</td>
        <td class="col-4"></td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><strong>Лом черных металлов</strong> - все категории</td>
        <td>22000 руб/тонна</td>
      </tr>
      </tbody>
    </table>

    <table class="table table-striped table-hover mb-0">
      <thead>
      <tr class="table-head">
        <td class="col-8">Цветной металл</td>
        <td class="col-4"></td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><strong>Медь</strong></td>
        <td>610 руб/кг</td>
      </tr>
      <tr>
        <td><strong>Медь</strong></td>
        <td>610 руб/кг</td>
      </tr>
      <tr>
        <td><strong>Медь</strong></td>
        <td>610 руб/кг</td>
      </tr>
      <tr>
        <td><strong>Медь</strong></td>
        <td>610 руб/кг</td>
      </tr>
      <tr>
        <td><strong>Медь</strong></td>
        <td>610 руб/кг</td>
      </tr>
      <tr>
        <td><strong>Медь</strong></td>
        <td>610 руб/кг</td>
      </tr>
      <tr>
        <td><strong>Медь</strong></td>
        <td>610 руб/кг</td>
      </tr>
      <tr>
        <td><strong>Медь</strong></td>
        <td>610 руб/кг</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
