@font-face
  font-family: 'CustomFont'
  src: url('assets/fonts/TildaSans-Regular.ttf')

body
  color: #2c3745
  font-size: 18px
  font-family: CustomFont, Arial, sans-serif

.container
  max-width: 1200px
  padding: 0 16px
  margin: 0 auto

.btn-general
  font-size: 18px
  border-radius: 50px
  padding-right: 30px
  padding-left: 30px
